<!DOCTYPE html>
<html lang="en">
<head>
    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Bubblegum Sans' rel='stylesheet'>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>

    <!-- css -->
    <style>
       .hidden-field {
            display: none;
        }
        .sidenav {
            height: 100%;
            width: 200px;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #4369CA;
            overflow-x: hidden;
            padding-top: 20px;
        }

        .sidenav a {
            padding: 6px 6px 6px 32px;
            text-decoration: none;
            font-size: 25px;
            color: white;
            display: block;
        }

        .sidenav a:hover {
            color: white;
            width: 200%;
            background-color: darkblue;
        }

        .dropbtn {
            /* margin-left: 5%; */
            background-color: #4369CA;
            color: white;
            padding: 16px;
            font-size: 25px;
            border: none;
            cursor: pointer;
        }

        .dropdown {
            /* margin-left: 5%; */
            width: 100%;
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            min-width: 160px;
            overflow: auto;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

        .dropdown a:hover {
            background-color: #ddd;
        }
        .show {
            display: block;
        }
        .topnav {
            margin-top: 5%;
            margin-left: 25%;
            width: 60%;
            background-color: white;
            color: black;
            overflow: hidden;
            border: 2px solid black;
        }

        .topnav a {
            float: left;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            font-size: 17px;
        }
    </style>
</head>

<body>
    <!-- side nav -->
    <div id="mySidenav" class="sidenav">
        <h1>
            <!-- user name, onclick direct user to user profile page -->
            <% users.forEach(function(user){ %>
                <a href="/userprofile"><%= user.user_name %></a>
            <% }) %>
        </h1>
        <br>
        <br>
        <br>
        <br>
        <br>
        <!-- direct user to home page -->
        <a href="/getAllNotes">home</a>
    </div>
    
    <!-- top nav -->
    <div class="topnav" style="border-radius: 10px;">
        <div class="dropdown">
            <!-- droplist to show the available options for templates, the data in the database will be reflected in the droplist -->
            <% notes.forEach(function(note) { %>
                <select id="note_template_<%= note.note_id %>" name="note_template" onchange="applyTextareaStyle('<%= note.note_id %>')"  style="width: 20%; height: 100%; border-radius: 5px; font-size: 20px; text-align: center;">
                    <option value="blank" <% if (note.note_template === 'blank') { %>selected<% } %>>blank</option>
                    <option value="line" <% if (note.note_template === 'line') { %>selected<% } %>>line</option>
                    <option value="grid" <% if (note.note_template === 'grid') { %>selected<% } %>>grid</option>
                </select>
                
                <!-- droplist to show the available options for fonts, the data in the database will be reflected in the droplist -->
                <select id="note_font_<%= note.note_id %>" name="note_font" onchange="changeFont(this, '<%= note.note_id %>')" style="width: 20%; border-radius: 5px; height: 100%; font-size: 20px; text-align: center;">
                    <option value="Arial" <% if (note.note_font === 'Arial') { %>selected<% } %>>Arial</option>
                    <option value="Lucida Console" <% if (note.note_font === 'Lucida Console') { %>selected<% } %>>Lucida Console</option>
                    <option value="Lucida Handwriting" <% if (note.note_font === 'Lucida Handwriting') { %>selected<% } %>>Lucida Handwriting</option>
                    <option value="Times New Roman" <% if (note.note_font === 'Times New Roman') { %>selected<% } %>>Times New Roman</option>
                </select>

                <select id="note_fontsize_<%= note.note_id %>" name="note_fontsize" onchange="changeFontSize(this, '<%= note.note_id %>')"  style="width: auto; border-radius: 5px; height: 100%; font-size: 20px; text-align: center;">
                    <option value="16px" <% if (note.note_fontsize === '16px') { %>selected<% } %>>16</option>
                    <option value="17px" <% if (note.note_fontsize === '17px') { %>selected<% } %>>17</option>
                    <option value="18px" <% if (note.note_fontsize === '18px') { %>selected<% } %>>18</option>
                    <option value="19px" <% if (note.note_fontsize === '19px') { %>selected<% } %>>19</option>
                    <option value="20px" <% if (note.note_fontsize === '20px') { %>selected<% } %>>20</option>
                </select>
                <button style="border-radius: 5px; background-color: white; width: 20%; margin-top: 0.5%; margin-bottom: 0.5%; height: 10%; font-size: 20px; text-align: center;">MIC</button>
                <button style="border-radius: 5px; background-color: white; width: auto; margin-top: 0.5%; margin-bottom: 0.5%; height: 10%; font-size: 20px; text-align: center;">speech to text conversion</button>
            <% }) %>
            
        </div>
    </div>

    <!-- form to update the note content, template and font -->
    <form id="noteContentForm" action="updateNote" method="post" style="margin-left: 10%; width: 85%">
        <% notes.forEach(function(note) { %>
            <!-- <% if(note.note_template === 'line') { %>
                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                        const textarea = document.getElementById("note_content_<%= note.note_id %>");
                        textarea.style.background = "linear-gradient(to bottom, transparent 23px, #ddd 23px, #ddd 24px, transparent 24px), linear-gradient(to right, transparent 5px, #ddd 5px, #ddd 6px, transparent 6px)";
                        textarea.style.backgroundSize = "100% 25px";
                        textarea.style.lineHeight = "25px";
                    });
                </script>
            <% } %>
            <% if(note.note_template === 'blank') { %>
                <script>
                    document.addEventListener('DOMContentLoaded', function() {
                        const textarea = document.getElementById("note_content_<%= note.note_id %>");
                        textarea.style.background = "none";
                        textarea.style.lineHeight = "normal";
                    });
                </script>
            <% } %>
             -->
            <textarea type="text" id="note_content_<%= note.note_id %>" name="note_content" style="margin-left:7.5%; margin-top:3%; width: 85%; border-radius: 5px; height: auto; text-align: center;" rows="20"><%= note.note_content %></textarea>
            <br>
            <br>
            <input type="hidden"  name="note_id" value="<%= note.note_id %>">
            <input type="hidden"  name="note_template" value="" >
            <input type="hidden" id="note_font" name="note_font" value="" >
            <input type="hidden" id="note_fontsize" name="note_fontsize" value="">
            <button type="submit" id="updateBtn" style="margin-left:7.5%; margin-top:1%; width: 85%; border-radius: 5px; height: auto; font-size: 20px; text-align: center;">SAVE</button>
        <% }) %>
    </form>

     <!-- check the template value in the db --> 
    <% notes.forEach(function(note) { %>
        <!-- if the value is line, this will the css for the textarea -->
        <% if(note.note_template === 'line') { %>
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    const textarea = document.getElementById("note_content_<%= note.note_id %>");
                    textarea.style.background = "linear-gradient(to bottom, transparent 23px, #ddd 23px, #ddd 24px, transparent 24px), linear-gradient(to right, transparent 5px, #ddd 5px, #ddd 6px, transparent 6px)";
                    textarea.style.backgroundSize = "100% 25px";
                    textarea.style.lineHeight = "25px";
                });
            </script>
        <% } %>
        <!-- if the value is blank, this will the css for the textarea -->
        <% if(note.note_template === 'blank') { %>
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    const textarea = document.getElementById("note_content_<%= note.note_id %>");
                    textarea.style.background = "none";
                    textarea.style.backgroundSize ="100% 25px";
                    textarea.style.lineHeight = "normal";
                });
            </script>
        <% } %>
        <!-- if the value is grid, this will the css for the textarea -->
        <% if(note.note_template === 'grid') { %>
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    const textarea = document.getElementById("note_content_<%= note.note_id %>");
                    textarea.style.background = "linear-gradient(to bottom, transparent 23px, #ddd 23px, #ddd 24px, transparent 24px), linear-gradient(to right, transparent 5px, #ddd 5px, #ddd 6px, transparent 6px)";
                    textarea.style.backgroundSize ="20px 25px";
                    textarea.style.lineHeight = "normal";
                });
            </script>
        <% } %>
    <% }) %>


    <!-- check the font value in the db -->
    <% notes.forEach(function(note) { %>
        <!-- if the value is Arial, the font will be shown as Arial -->
        <% if(note.note_font === 'Arial') { %>
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    const textarea = document.getElementById("note_content_<%= note.note_id %>");
                    textarea.style.fontFamily = "Arial";
                });
            </script>
        <% } %>
        <!-- if the value is Lucida Console, the font will be shown as Lucida Console -->
        <% if(note.note_font === 'Lucida Console') { %>
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    const textarea = document.getElementById("note_content_<%= note.note_id %>");
                    textarea.style.fontFamily = "Lucida Console";
                });
            </script>
        <% } %>
        <!-- if the value is Lucida Handwriting, the font will be shown as Lucida Handwriting -->
        <% if(note.note_font === 'Lucida Handwriting') { %>
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    const textarea = document.getElementById("note_content_<%= note.note_id %>");
                    textarea.style.fontFamily = "Lucida Handwriting";
                });
            </script>
        <% } %>
        <!-- if the value is Times New Roman, the font will be shown as Times New Roman -->
        <% if(note.note_font === 'Times New Roman') { %>
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    const textarea = document.getElementById("note_content_<%= note.note_id %>");
                    textarea.style.fontFamily = "Times New Roman";
                });
            </script>
        <% } %>
    <% }) %>  


    <!-- check the font size value in the db -->
    <% notes.forEach(function(note) { %>
        <!-- if the value is Arial, the font will be shown as Arial -->
        <% if(note.note_fontsize === '16px') { %>
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    const textarea = document.getElementById("note_content_<%= note.note_id %>");
                    textarea.style.fontSize = "16px";
                });
            </script>
        <% } %>
        <!-- if the value is Lucida Console, the font will be shown as Lucida Console -->
        <% if(note.note_fontsize === '17px') { %>
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    const textarea = document.getElementById("note_content_<%= note.note_id %>");
                    textarea.style.fontSize = "17px";
                });
            </script>
        <% } %>
        <!-- if the value is Lucida Handwriting, the font will be shown as Lucida Handwriting -->
        <% if(note.note_fontsize === '18px') { %>
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    const textarea = document.getElementById("note_content_<%= note.note_id %>");
                    textarea.style.fontSize= "18px";
                });
            </script>
        <% } %>
        <!-- if the value is Times New Roman, the font will be shown as Times New Roman -->
        <% if(note.note_fontsize === '19px') { %>
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    const textarea = document.getElementById("note_content_<%= note.note_id %>");
                    textarea.style.fontSize = "19px";
                });
            </script>
        <% } %>
        <% if(note.note_fontsize === '20px') { %>
            <script>
                document.addEventListener('DOMContentLoaded', function() {
                    const textarea = document.getElementById("note_content_<%= note.note_id %>");
                    textarea.style.fontSize = "20px";
                });
            </script>
        <% } %>
    <% }) %>  

    <script>

        const updateBtn = document.getElementById("updateBtn");

        updateBtn.addEventListener("click", (event) => {
            const selectedNote = document.querySelectorAll('[id^="note_template_"]');
            const noteTemplateInput = document.querySelector('input[name="note_template"]');
            const noteFontInput = document.querySelector('input[name="note_font"]');
            const noteFontSizeInput = document.querySelector('input[name="note_fontsize"]');

            selectedNote.forEach((dropdown) => {
                const noteId = dropdown.id.replace("note_template_", "");
                const selectedFont = document.getElementById("note_font_" + noteId).value;
                const selectedFontSize = document.getElementById("note_fontsize_" + noteId).value;
                
                if (dropdown.value === "line") {
                    // Apply the line style to the textarea
                    const textarea = document.getElementById("note_content_" + noteId);
                    textarea.style.background = "linear-gradient(to bottom, transparent 23px, #ddd 23px, #ddd 24px, transparent 24px), linear-gradient(to right, transparent 5px, #ddd 5px, #ddd 6px, transparent 6px)";
                    textarea.style.backgroundSize = "100% 25px";
                    textarea.style.lineHeight = "25px";
                } else if (dropdown.value === 'blank') {
                    // Reset the textarea style to default (blank)
                    const textarea = document.getElementById("note_content_" + noteId);
                    textarea.style.background = "none";
                    textarea.style.lineHeight = "normal";
                }
                else if (dropdown.value === "grid") {
                    // Apply the line style to the textarea
                    const textarea = document.getElementById("note_content_" + noteId);
                    textarea.style.background = "linear-gradient(to bottom, transparent 23px, #ddd 23px, #ddd 24px, transparent 24px), linear-gradient(to right, transparent 5px, #ddd 5px, #ddd 6px, transparent 6px)";
                    textarea.style.backgroundSize = "20px 25px";
                    textarea.style.lineHeight = "25px";
                }
                noteTemplateInput.value = dropdown.value;
                noteFontInput.value = selectedFont;
                noteFontSizeInput.value = selectedFontSize;
            });
        });

        function openFolder() {
            document.getElementById("myDropdown").classList.toggle("show");
        }
        
        function applyTextareaStyle(noteId) {
                const dropdown = document.getElementById("note_template_" +noteId);
                const textarea = document.getElementById("note_content_" + noteId);

                if (dropdown.value === "line") {
                    console.log("line");
                    // Apply the line style to the textarea
                    textarea.style.background = "linear-gradient(to bottom, transparent 23px, #ddd 23px, #ddd 24px, transparent 24px), linear-gradient(to right, transparent 5px, #ddd 5px, #ddd 6px, transparent 6px)";
                    textarea.style.backgroundSize = "100% 25px";
                    textarea.style.lineHeight = "25px";
                } 
                if(dropdown.value === 'blank') {
                    console.log("blank");
                    // Reset the textarea style to default (blank)
                    textarea.style.background = "none";
                    textarea.style.lineHeight = "normal";
                }
            }

            function changeFont(font, noteId){
                const selectedFont = font.value;
                const textarea = document.getElementById("note_content_" + noteId);
                textarea.style.fontFamily = selectedFont;
            }

            function changeFontSize(font, noteId){
                const selectedFontSize = font.value;
                const textarea = document.getElementById("note_content_" + noteId);
                textarea.style.fontSize = selectedFontSize;
            }
        
    </script>
</body>

</html>

